<?xml version="1.0" encoding="UTF-8"?>
<!-- pass conf params -->
<configuration debug="false" scan="true"> 
	
	<!-- add appender -->
	<appender name="htmlAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- file name in the root dir -->
			<!-- each file should be at most 3MB, keep 7 days worth of history, but at most 1GB -->
			<fileNamePattern>log-%d{yyyy-MM-dd 'at' hh-mm-ss z}.html</fileNamePattern>
			<maxHistory>7</maxHistory> 
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>3MB</maxFileSize>
		</triggeringPolicy>

	
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.html.HTMLLayout">
				<pattern>%d{hh:mm:ss.SSS z} %rEx{2} %ex{full} %caller{1..3} [%thread] %-5level %logger{36} - %msg%n</pattern>
			</layout>
		</encoder>
	</appender>


	<!-- enable appender + assign minimum log level(to see in the report)-->
	<root level="DEBUG">
		<appender-ref ref="htmlAppender" />
	</root>
</configuration>